<p id="notice"><%= notice %></p>

<p>
  <strong>This must always be chosen for its Style:</strong>
  <%= @weapon_offense_type_combo.pick %>
</p>

<p>
  <strong>Weapon:</strong>
  <%= @weapon_offense_type_combo.weapon %>
</p>

<p>
  <strong>Style:</strong>
  <%= @weapon_offense_type_combo.offense_type %>
</p>

<%= link_to 'Edit', edit_weapon_offense_type_combo_path(@weapon_offense_type_combo) %> |
<%= link_to 'Back', weapon_offense_type_combos_path %>
