<p id="notice"><%= notice %></p>

<p>
  <strong>This must always be chosen for its <%= OffenseType.label %>:</strong>
  <%= @weapon_offense_type_combo.pick %>
</p>

<p>
  <strong><%= Weapon.label %>:</strong>
  <%= @weapon_offense_type_combo.weapon.name %>
</p>

<p>
  <strong><%= OffenseType.label %>:</strong>
  <%= @weapon_offense_type_combo.offense_type.name %>
</p>

<%= link_to 'Edit', edit_weapon_offense_type_combo_path(@weapon_offense_type_combo) %>
