<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shape.name %>
</p>

<p>
  <strong>Ordering:</strong>
  <%= @shape.ordering %>
</p>

<p>
  <strong>After element:</strong>
  <%= @shape.afterelement %>
</p>

<%= link_to 'Edit', edit_shape_path(@shape) %> |
<%= link_to 'Back', shapes_path %>
