<h1>Wargame Variables Configurator</h1>

<h2>General</h2>
<ul>
  <li><%= link_to 'System Configuration', char_configs_path %></li>
</ul>

<h2>Character</h2>
<ul>
  <li><%= link_to 'Races', races_path %></li>
  <li><%= link_to 'Stats', stats_path %></li>
  <li><%= link_to 'Resources', resources_path %></li>
</ul>

<h2>Combat</h2>
<ul>
  <li><%= link_to 'Armor', armor_types_path %></li>
  <li><%= link_to 'Styles', offense_types_path %></li>
  <li><%= link_to 'Weapons', weapons_path %></li>
  <li><%= link_to 'Weapon-Style pairings', weapon_offense_type_combos_path %></li>
</ul>

<h2>Magic</h2>
<ul>
  <li><%= link_to 'Elements', elements_path %></li>
  <li><%= link_to 'Modifiers', modifiers_path %></li>
  <li><%= link_to 'Shapes', shapes_path %></li>
</ul>
