<h1>Wargame Variables Configurator</h1>

<h2>Character Generation</h2>
<ul>
  <li><%= link_to 'Generate characters (pretty)', home_generate_path(:format => "txt", :count => 1), target: '_blank' %></li>
  <li><%= link_to 'Generate characters (bulk)', home_generate_path(:count => 10), target: '_blank' %></li>
</ul>

<h2>General</h2>
<ul>
  <li><%= link_to CharConfig.label, char_configs_path %></li>
</ul>

<h2>Character</h2>
<ul>
  <li><%= link_to 'Races', races_path %></li>
  <li><%= link_to 'Stats', stats_path %></li>
  <li><%= link_to Resource.label.pluralize, resources_path %></li>
</ul>

<h2>Combat</h2>
<ul>
  <li><%= link_to 'Armor', armor_types_path %></li>
  <li><%= link_to OffenseType.label.pluralize, offense_types_path %></li>
  <li><%= link_to Weapon.label.pluralize, weapons_path %></li>
</ul>

<h2>Relationships</h2>
<ul>
  <li><%= link_to WeaponOffenseTypeCombo.label.pluralize, weapon_offense_type_combos_path %></li>
  <li><%= link_to ResourceLoadoutCombo.label.pluralize, resource_loadout_combos_path %></li>
</ul>

<h2>Magic</h2>
<ul>
  <li><%= link_to 'Elements', elements_path %></li>
  <li><%= link_to 'Element Upgrades', element_upgrades_path %></li>
  <li><%= link_to 'Modifiers', modifiers_path %></li>
  <li><%= link_to 'Shapes', shapes_path %></li>
</ul>
