<p id="notice"><%= notice %></p>

<h1><%= CharConfig.label %></h1>

<table>
  <% @char_configs.each do |char_config| %>
    <tr>
      <th style="text-align: right">Max value for statline</th>
      <td style="text-align: center"><%= char_config.statlinemax %></td>
    </tr>
    <tr>
      <th style="text-align: right">% chance of double elements</th>
      <td style="text-align: center"><%= char_config.elementdoublepct %></td>
    </tr>

    <tr>
      <th style="text-align: right">Use element upgrades</th>
      <td style="text-align: center"><%= char_config.useelementmath %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_char_config_path(@char_configs.first) %>
