<%= form_with(model: offense_type, local: true) do |form| %>
  <% if offense_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offense_type.errors.count, "error") %> prohibited this offense_type from being saved:</h2>

      <ul>
      <% offense_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :numberofweapons %>
    <%= form.number_field :numberofweapons %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
