<%= form_with(model: resource, local: true) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label 'Base value' %>
    <%= form.number_field :baseval %>
  </div>

  <div class="field">
    <%= form.label 'Minimum value (0 to ignore)' %>
    <%= form.number_field :minval %>
  </div>

  <div class="field">
    <%= form.label 'Maximum value (0 to ignore)' %>
    <%= form.number_field :maxval %>
  </div>

  <div class="field">
    <%= form.label 'Having this resource generates a spell' %>
    <%= form.check_box :generatespell %>
  </div>

  <div class="field">
    <%= form.label 'Take statline extra points and add them to base value' %>
    <%= form.check_box :addstatline %>
  </div>

  <div class="field">
    <%= form.label 'Take statline extra points and subtract them from base value' %>
    <%= form.check_box :subtractstatline %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
